.footer {
    padding: 2rem 1rem 4rem;
    text-align: center;
    justify-self: center;
    display: flex;
  }
  
  .footer-content{
    padding: 2rem 1rem 4rem;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    align-items: center;
  }

  .contact-title {
    color: black;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }
  
  .contact-info {
    background-color: #FFD4D4;
    max-width: 600px;
    margin: 0 auto 2rem;
    padding: 1rem;
    border-radius: 3.25rem;
    display: flex;
  }
  
  .contact-item {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .contact-item:last-child {
    margin-bottom: 0;
  }
  
  .contact-label {
    font-weight: 700;
  }
  
  .decorative-elements {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .decoration {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    opacity: 0.5;
  }
  
  .decoration.green {
    background-color: var(--kitty-green);
  }
  
  .decoration.pink {
    background-color: var(--kitty-pink);
  }