.header {
    font-family: "Antonio", sans-serif;
    font-style: light;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--kitty-light-pink);
    width: 70%;
    height: 2rem;
    border-radius: 5.625rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
  
  .logo {
    display: flex;
  }
  
  .logo-kitty {
    color: var(--kitty-pink);
  }
  
  .logo-plant {
    color: var(--kitty-dark-pink);
  }
  
  .nav-list {
    display: flex;
    gap: 13rem;
  }
  
  .nav-item {
    text-transform: uppercase;
    color: black;
    transition: color 0.3s ease;
  }

  .nav-item:hover {
    color: var(--kitty-dark-pink);
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      gap: 1rem;
    }
    
    .nav-list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }