.product-info {
    width: 100%;
    background-color: var(--kitty-dark-pink);
    color: white;
    padding: 2.5rem 1rem;
    margin-top: 2rem;
  }
  
  .product-info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .product-description {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: right;
  }
  
  .product-illustration {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .plant-pot {
    width: 30rem;
    height: 30rem;
    background-color: var(--kitty-light-green);
    border-radius: 0.5rem;
    position: relative;
  }
  


  .icon-kittyplant {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .product-info-container {
      flex-direction: row;
      align-items: center;
    }
    
    .product-text {
      flex: 1;
    }
    
    .product-illustration {
      flex: 1;
    }
    
    .product-description {
      text-align: right;
    }
  }