:root {
  
  width: 100%;
  margin: 0;
  padding: 0;
  --kitty-pink: #faa3ad;
  --kitty-dark-pink: #a2235e;
  --kitty-light-pink: #ffd4d4;
  --kitty-white: #faf3e8;
  --kitty-crayola: #f47185;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Antonio", sans-serif;
  background-color: var(--kitty-white);
}

.app-container {
  margin: 0 auto;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.leaf-decoration {
  position: absolute;
  z-index: -1;
}

.leaf-decoration.top-left {
  height: auto;
  width: 30%;
  top: 0;
  left: 0;
}

.leaf-decoration.top-right {
  height: auto;
  width: 30%;
  top: 0;
  right: 0;
}

.leaf-decoration.bottom-left {
  height: auto;
  width: 21%;
  bottom: auto;
  left: 0;
}

.leaf-decoration.bottom-right {
  height: auto;
  width: 21%;
  bottom: auto;
  right: 0;
}
